<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>ehealth tracking solutions</title>
	</head>

	<body>
		<div class="py-8 bg-slate-200 min-h-screen">

			<header>
				<div class="w-24 ml-auto mr-auto pb-12">
					<img src="./public/elefant.png" alt="logo ehealth data plattform">
				</div>
			</header>

			<nav class="flex justify-center space-x-10 pb-10">
				<a href="/" class="text-sm sm:text-lg text-gray-500 hover:text-gray-400">home</a>
				<a href="/integrations" class="text-sm sm:text-lg text-gray-500 hover:text-gray-400">integrations</a>
				<a href="/dashboards" class="text-sm sm:text-lg text-gray-500 hover:text-gray-400">dashboards</a>
				<a href="/tasks" class="text-sm sm:text-lg text-gray-500 hover:text-gray-400">tasks</a>
			</nav>

      		<h1 class="text-center text-6xl mb-10 font-extrabold tracking-tight text-white">ehealth data platform</h1>
			<p class="text-center text-sky-800 text-sm sm:text-lg">Only a few seats are available. Apply as participant for the beta phase.</p>
      		<button onclick="window.location.href='mailto:luis.rieke@spacifik.com?subject=Newsletter%20Anmeldung&body=Bitte%20f%C3%BCr%20den%20Zugang%20eintragen!'" class="block text-slate-400 hover:text-white bg-slate-800 hover:bg-teal-800 px-12 py-8 mx-auto mt-10 text-4xl font-extrabold rounded-lg">Apply for beta</button>

			<div class="mt-20 mx-auto text-center max-w-3xl px-10">
				<p class="mt-2 text-2xl font-extrabold text-sky-900 tracking-tight">
					Why should you apply?
				</p>
				<p class="mt-5 max-w-prose mx-auto text-xl text-slate-600">
					Your health data. Sychronized. Secured.
				</p>

				<p class="mt-5 sm:mx-44 max-w-prose text-sm text-slate-600">We store your data, but you own it. Forever. When there are significant risks, when warn you on point to increase your lifetime expectancy.</p>
				
			</div>

			<footer class="mt-20 pt-12 border-t-2 border-gray-300">
				<p class="text-sm sm:text-base text-center text-slate-800">
					&copy; Spacifik health software. All rights reserved.
				</p>
			</footer>
    	</div>
	</body>
</html>